@import "tailwindcss";

@theme {
  /* On définit tes couleurs ici */
  --color-mesaBlack: #121212;
  --color-mesaDark: #1E1E1E;
  --color-mesaGold: #F0C450;
  --color-mesaGray: #B0B0B0;

  /* On définit tes polices */
  --font-serif: var(--font-playfair), serif;
  --font-sans: var(--font-montserrat), sans-serif;
}

/* Le fond du site */
body {
  background-color: var(--color-mesaBlack);
  background-image: radial-gradient(circle at top right, #1E1E1E 0%, #121212 100%);
  color: #ffffff;
}

/* Ton animation */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
  animation: fadeIn 0.8s ease-out forwards;
}